<br/>
<div class="container">
    <form name="new_user" method="POST" action="" class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">姓名</label>
            <div  class="col-sm-4">
                <input type="text" id="name" name="name" placeholder="姓名" class="form-control" ng-model="user.name">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">密码</label>
            <div class="col-sm-4">
                <input type="password" id="password" name="password" placeholder="密码" class="form-control" ng-model="user.password">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">职员：</label>
            <div class="col-sm-4">
                <select name="employeeName" id="selector" class="form-control">
                    <option id="<%= employeeList.get(i).getName()%>" value="<%= employeeList.get(i).getName()%>"></option>
                </select>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-block btn-primary">提交</button>
                <button type="reset" class="btn btn-block btn-danger">清空</button>
                <a type="button" href="/web/users" class="btn btn-block btn-default">返回</a>
            </div>
        </div>
    </form>
</div>