<div class="container">
    <br />
    <div class="panel panel-danger">
        <div class="panel-heading">用户信息表</div>
        <div class="panel-body" >
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <th ng-show="false">ID</th>
                    <th>用户名</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
                <tr ng-repeat="user in users">
                    <td ng-show="false">{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <a class="btn btn-primary updateUser" ng-click="updateCurrentUser(user)">修改</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger" ng-click="deleteUser(user.id)">删除</a>
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <div>
        <a class="btn btn-block btn-success" href="./users/creation" ng-click="addNewUser">添加用户</a>
    </div>

</div>

<br/>

<form id="updateUserForm" name="new_user" class="form-horizontal" ng-show="showUpdateUser">
    <div class="form-group">
        <label for="name" class="col-sm-4 control-label">用户名</label>
        <div class="col-sm-4">
            <input type="text" id="name" name="name" placeholder="用户名" value="" class="form-control" ng-model="currentUser.name">
        </div>
    </div>
        <input id="id" name="id" placeholder="id" value="" ng-show="false" ng-model="currentUser.id">
    <div class="form-group">
        <input type="hidden" id="password" name="password" placeholder="密码" value="" class="form-control" ng-model="currentUser.password">
    </div>
    <div class="col-sm-offset-4 col-sm-4">
        <button type="submit" id="updateUser" class="btn btn-primary btn-block">确定</button>
        <button type="reset" class="btn btn-danger btn-block">重置</button>
        <a href="/web/users" class="btn btn-default btn-block">返回</a>
    </div>
</form>
